<script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
<script>
    $(document).ready(
        function() {
            $('h3').click(
                function() {
                    alert('You clicked an H3!');
                }
            );
            $('button').click(
                function() {
                    $('div').append('<h3>I am a dynamically generated H3</h3>');
                    $('h3').click(function() {
                        alert('you clicked an H3!');
                    })
                }
            )
            $(document).on('click','h3',function() {
                $('h3').css('color','pink');
            });
        }
    );
</script>
<body>
    <div>
        <button>Click me to add a new H3 tag!</button>
        <h3>Click me to see a message!</h3>
    </div>
</body>