<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<H1>Counter</H1>
<p>{{session['counter']}}</p>
<form action="/count2">
	<button type="submit">Count2</button>
</form>
<form action="/reset">
	<button type="submit"> reset </button>
</form>
</html>