<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{%if select == 'none'%}
			<p>No Ninja Here</p>
	{%elif select == 'girl' %}
			<img src="/static/img/notapril.jpg">
	{% elif select == 'all'%}
			<img src="/static/img/tmnt.png">
	{% else : %}
			<img src="/static/img/{{select}}.jpg">
	{% endif %}
</body>
</html>