<!DOCTYPE html>
<html>
<head>
	<title>ninja-game</title>
	<meta charset="utf-8">
	<style type="text/css">
		.request {
			width: 250px;
			height: 250px;
			display: inline-block;
			border: 1px solid black;
			margin-right: 10px
		}
		div {
			display: block;
		}
		#top > p {
			display: inline-block;
		}
		#bottom > textarea{
			width:100%;
			height:250px;
		}
	</style>
</head>
<body>
	<div id="top">
		<p>Your Gold:</p>
		<p id="goldbox">{{gold}}</p>
	</div>
	<div id="mid">
		<form action="/process_money" method="post" class="request">
			{%csrf_token%}
			<input type="hidden" name="action" value="farm">
			<h1><b>Farm</b></h1>
			<p>(earns 10-20 golds)</p>
			<button type="submit">Find Gold!</button>
		</form>
		<form action="/process_money" method="post" class="request">
			{%csrf_token%}
			<input type="hidden" name="action" value="cave">
			<h1><b>Cave</b></h1>
			<p>(earns 5-10 golds)</p>
			<button type="submit">Find Gold!</button>
		</form>	
		<form action="/process_money" method="post" class="request">
			{%csrf_token%}
			<input type="hidden" name="action" value="house">
			<h1>House</h1>
			<p>(earn 2-5 golds)</p>
			<button type="submit">Find Gold!</button>
		</form>
		<form action="/process_money" method="post" class="request">
			{%csrf_token%}
			<input type="hidden" name="action" value="casino">
			<h1>Casino</h1>
			<p>(earn/takes 0-50 golds)</p>
			<button type="submit">Find Gold!</button>
		</form>
	</div>
	<div id="bottom">
		<p>Activities</p>
		<textarea class="scrollabletextbox">
			{{account}}
		</textarea>
	</div>
</body>
</html>