*{	padding:0;
	margin:0;
	border:0;
}
.title{
	position: relative;
	top: 10px;
	left:10px;
	bottom:10px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color:white;

}
.textbox{
	width:100%;
	height:100%;
	background: linear-gradient(to left top ,pink,white);
	display: block;
	vertical-align: top;

}
.header{
	width: 100%;
	height: 15%;
	background: linear-gradient(white,grey,white);
	display: block;

}
	.header title{
		display: block;
	}
.column{
	width:30%;
	height: 85%;
	display: inline-block;
	margin-left: 20px;
	margin-top:0px;
}
.divisiontop{
	width:100%;
	height: 65%;

}
	.divisiontop img{
		width:100%;
		height: 35%;
	}
	.divisiontop .textbox{
		height: 55%;
		position: relative;
		top:-4px;
	}
.divisionbottom{
	width: 100%;
	height: 30%;
	position: relative;
	top:-4px;
}
	.divisionbottom .textbox{
		height:85%;
	}
	.divisionbottom img{
		width:15%;
		height: 15%;
		margin:5px;
		display: inline-block;
	}
.button{
	display: block;
	margin:0px auto;
	object-fit: fill;
	border: 1px solid black;
	border-radius: 5px;
	background: green;
	box-shadow: 10px 4px 5px grey;
	color :white;
}
	.button value{
		color:white;
	}
#wrapper{
	height: 950px ;
	width:  897px ;
	margin: 0px auto;
	background: radial-gradient(circle,grey,purple,black);

}

	#top{
		height: 33.3%;
		background: transparent;
		display: block;	
	}
		#titlebar{
			height: 10%;
			background: grey;
			margin-bottom: 10px;

		}
			#titlebar h1{
				font-size: 27px;
				margin-left: 10px;
				margin-right: 10px;
			}
				#titlebar span{
					margin-left: 250px;
				}
		#frame{
			width :40%;
			height: 75%;
			display: inline-block;
			margin-left: 20px;
			margin-right: 15px;

		}
			#frame img{
				width :100%;
				height: 100%;
				display: inline-block;
				border: 7px solid white;
			}
		#rightbox{
			width: 50%;
			height: 75%;
			display: inline-block;
			vertical-align: top;
			background: green;
			margin-left: 30px;
		}
			#whoami{
				height: 217.53px;
			}
			#header1{
				padding-bottom: 10px;
			}
				#header1 title{
					display: block;

				}

	#bottom{
		height:66.7%;
		background: transparent;
		display: block;
		position:relative;
	}
		#column1{
			vertical-align: top;
		}
			#HCB1{
				height: 30%;
			}
			#HCB2{
				height: 30%;
			}
			#HCB3{
				height: 30%;
			}
		#contactinfo{
			width: 100%;
			height: 15%;
			margin-bottom: 0px;
			position: absolute;
			background: grey;
			bottom: 0px;
			display: block;
		}
			#contactinfo p {
				display: block;
				text-align: center;
				margin-bottom: 20px;

			}
			#contactinfo img{
				width: 2%;
				height: 12%;
				display: inline-block;
				margin-left:10px;
				margin-right: 2px;
			}
			#contactinfo #special{
				margin-left: 280px;
			}
			#contactinfo label{
				text-decoration: underline;
			}