/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto ;
 margin-top:100px;
 padding-right:20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-bottom: 20px;
}
#header{
 height: 150px;
 background-color: green;
 
 margin-bottom: 20px;

 display: block;
 
}
#navigation{
 height: 300px;
 width: 200px;
 margin-left: 0px;
 margin-right: 20px;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
}
#main_content{
 height: 400px;
 width: 700px;
 padding-right: 25px;
 background-color: red;
 display: inline-block;

}
.subcontents{
 height: 200px;
 width: 210px;	
 background-color: yellow;
 display: inline-block;
 margin-bottom: 25px;
 margin-left: 15px;
 margin-right: 0px;
 margin-top: 20px;

}
#advertisement{
 height: 120px;
 width: 660px;	
 margin-left: 15px;	
 background-color: purple;
 padding-right: 10	px;
 display: inline-block;
 
}